---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Affiliate disclosure"
	description="How Cobacrew Camping makes money and how that affects our recommendations."
>
	<h1>Affiliate disclosure</h1>
	<p>
		Cobacrew Camping is reader-supported. Some of the links on this site are affiliate
		links, meaning that if you click through and make a purchase, we may earn a
		commission at no additional cost to you.
	</p>
	<p>
		We only recommend gear we'd genuinely suggest to a friend getting into camping. Being
		an affiliate for a retailer doesn't influence which products we choose to feature.
	</p>
	<p>
		This site participates in affiliate programs including, but not limited to, the
		Amazon Associates Program. As an Amazon Associate, we earn from qualifying
		purchases.
	</p>
	<p>If you have questions about a specific recommendation, reach out any time.</p>
</Layout>
